.logo-content{
    display: flex;
    justify-content: center;
}

.logo{
    width: 400px;
}

.bg-navbar{
    background-color: rgba(183, 126, 104, 0.53);
}

.item-list:hover{
    text-decoration: underline;
    transition: .2s linear;
}

.description-content{
    margin: 0 100px 0 100px;
    padding: 25px;
    border-radius: 5px;
    background-color: rgba(183, 126, 104, 0.53);
    text-align: center;
}

.description{
    color: white;
}

/* page de connexion */

.login-container{
    margin: 35px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container form{
    background-color: rgba(183, 126, 104, 0.53);
    padding: 50px;
    border-radius: 10px;
    color: white;
}

.login-container form h1{
    text-align: center;
    margin-bottom: 15px;
}

.login-container form label{
    font-size: 16pt;
    margin-bottom: 5px;
}

.login-container form input{
    width: 100%;
    border: none;
    background-color: rgb(126, 85, 70);
    color: white;
    font-size: 14pt;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 15px;
}

.login-container form select{
    margin-bottom: 15px;
    border: none;
    border-radius: 100px;
    color: white;
    background-color: rgb(126, 85, 70);
    font-size: 14pt;
    padding: 10px 20px;
}

.input-form-log{
    width: 100px;
}

.btn-signup:hover{
    text-decoration: underline;
}

/* Accueil connecté */

.accueil-client .content-accueil{
    background-color: rgba(183, 126, 104, 0.53);
    margin: 50px 35px 50px 35px;
    padding: 15px 0;
    border-radius: 10px;
}

.accueil-client h1{
    margin-top: 30px;
    text-align: center;
}

.search-bar{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    border-radius: 10px;
}

.accueil-client label{
    font-size: 16pt;
    color: white;
}

.accueil-client input{
    border: none;
    background-color: rgb(126, 85, 70);
    color: white;
    font-size: 14pt;
    border-radius: 100px;
    padding: 10px;
}

.accueil-client table{
    width: 90%;
    margin: auto;
    border: 3px solid rgb(126, 85, 70);
}

.accueil-client table thead{
    font-size: 18pt;
    color: white;
    text-align: center;
}

.accueil-client table tbody{
    font-size: 14pt;
    color: white;
    text-align: center;
}